<% provide(:title, @user.name) %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<div class="col-md-8">
    <% if @user.billythoughts.any? %>
        <h3> Billythoughts </h3>
        <ol class="billythoughts">
            <%= render @billythoughts %>
        </ol>
        <%= will_paginate @billythoughts %>
    <% end %>
</div>

