<marquee>
<p> welcome back to billys club, !
<span><%= link_to current_user.name, current_user %> </span>
you have 
<span><%= pluralize(current_user.billythoughts.count, "billythought" )%></span>
<%= link_to "logout", logout_path, method: "delete" %>
</marquee>
