<h1>Billy's CLub is under construction!!</h1>
<p>sorry</p>
<img alt="Rails" src="/assets/images/poo.gif" />

<% if logged_in? %>
    <div class="row">
        <aside class="col-md-4">
        <%= render 'shared/user_info' %>
        <%= render 'shared/billythought_form' %>
        </aside>
    </div>
<% end %>

